include ../../components/header/header.pug
include ../../components/welcome/welcome.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Document
  body
    +header
    +welcome
    main
    include ../../components/footer/footer.pug
    script(src='js/app.min.js')
