include ../../components/header/header.pug
include ../../components/advantages/advantages.pug
include ../../components/news/news.pug
include ../../components/photo/photo.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title BarberShop
  body
    +header(false)
    main
      +advantages
      .container
        .section-area
          +news
          +photo
        .section-area
    script(src='js/app.min.js')
