include ../section-title/section-title.pug

- const datas = [ { title: 'Быстро', text: 'Мы делаем свою работу быстро!Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки', }, { title: 'Круто', text: `Забудьте как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино! Во всяком случае внешне.`, }, { title: 'Дорого', text: 'Наши мастера — профессионалы своего дела и не могут стоить дешево. К тому же, разве цена не дает определенный статус?', }, ];

//- нужно будет уточнить, как делать объект в pug структуре, чтобы он был не кашей.

mixin advantages()
  section.advantages
    .container
      ul.advantages__list
        each data in datas
          li.advantages__item
            +section-title(data.title, 'h3')
            p.advantages__text #{data.text}
