@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-Black.woff2") format("woff2"), url("Merriweather-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-Bold.woff2") format("woff2"), url("Merriweather-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-BoldItalic.woff2") format("woff2"), url("Merriweather-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-Italic.woff2") format("woff2"), url("Merriweather-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-Light.woff2") format("woff2"), url("Merriweather-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-Regular.woff2") format("woff2"), url("Merriweather-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-LightItalic.woff2") format("woff2"), url("Merriweather-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("Inter-VariableFont-wght.woff2") format("woff2"), url("Inter-VariableFont-wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	font-display: swap;
	src: url("Merriweather-BlackItalic.woff2") format("woff2"), url("Merriweather-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
