include ../../components/menu/menu.pug
include ../../components/auth-area/auth-area.pug
include ../../components/logo/logo.pug

mixin header(isLogo)
  header.header
    .header__top-menu
      nav.header__menu.container
        +menu
        +auth-area('sing-in')
    .header__logo.container 
        +logo('main')
