include ../../components/menu/menu.pug
include ../../components/auth-area/auth-area.pug
include ../../components/logo/logo.pug

mixin header(isLogo)
  header.header
    .container
      .header__top-menu
        nav.header__menu
          +menu
          +auth-area('sing-in')
      .header__logo 
        +logo('main')
