mixin photo()
  section.photo
    h2.section__title Фотогалерея
    img(src="", alt="", srcset="")
    .photo__buttons
      button(type="button", class="button") Назад
      button(type="button", class="button") Вперед