include ../section-title/section-title.pug
include ../button/button.pug

mixin photo()
  section.photo
    +section-title('Фотогалерея', 'h2')
    .photo__slider
      img(class=".photo__img", src="./img/gallery-photo-small-1.jpg", alt="")
    .photo__buttons
      +button('Назад')
      +button('Вперед')
